# AbstractAPI Configuration
# Get your API key from: https://app.abstractapi.com/api/email-validation/tester
ABSTRACTAPI_KEY=
ABSTRACTAPI_BASE_URL=https://emailreputation.abstractapi.com/v1/

# Resend Configuration
# Get your API key from: https://resend.com/api-keys
RESEND_API_KEY=

# Noupe Configuration
# Get your embed key from: https://www.noupe.com
NOUPE_EMBED_KEY=

# Jotform Configuration
# Get your agent ID from: https://www.jotform.com/myforms/agents
JOTFORM_AGENT_ID=